.pop-over{
    position: absolute;
    width: 290px;
    background: white;
    padding: 12px 16px;
    border-radius: 6px;
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.2));
    top: calc(100% + 9px);
    z-index: 10;
    &::before{
        z-index: 10;
        content: "";
        position: absolute;
        margin-left: 0;
        bottom: 0;
        width: 20px;
        height: 20px;
        box-sizing: border-box;
        border-radius: 0 4px;
        background: #fff;
        border-color: #0000 #0000 #f1f1f2 #f1f1f2;
        border-style: solid;
        border-width: 1px;
        transform-origin: 0 0;
        top: 0px;
        left: 20%;
        transform: rotate(144deg) skew(20deg);
    }
    p.content{
        margin-top: 12px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        font-family: 'Inter', sans-serif;
        line-height: 20px;
        color: #232528;
    }
    .heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        >div{
            display: flex;
            align-items: center;
            img{
                margin-right: 8px;
            }
            h3{
                color: #232528;
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 20px;
            }
            .checkbox{
                box-sizing: border-box;
                width: 16px;
                height: 16px;
                display: inline-block;
                margin-right: 10px;
                border: 1px solid #BDBDBD;
                box-sizing: border-box;
                border-radius: 3px;
            }
            .ignore{
                font-family: 'Rubik', sans-serif;
                color: #232528;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 20px;
            }
        }
    }
}